.env
db.sqlite3
venv
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
venv/
ENV/
env/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.DS_Store
*.egg-info/
*.coverage
*.pytest_cache/
migrations/__pycache__/

# VSCode
.vscode/
